@media (max-width: 767px) {
  .banner {
    height: 60px;
  }
}

@media (min-width: 768px) {
  .banner {
    height: 160px;
    /* margin-bottom: 16px; */
    margin-bottom: 2px;
  }
}

.banner {
  position: relative;
  width: 100%;
}
