.header {
  padding: 16px;
  background-color: rgb(33 142 213);
  color: #fff;
  position: relative;
  user-select: none;
}

.header h1 {
  font-size: 1.5rem;
  text-align: center;
}

.header h2 {
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 4px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
}

.header p {
  font-size: 0.75rem;
  text-align: end;
}