@media (max-width: 768px) {
  .layout {
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid silver;
  }
}

@media (min-width: 768px) {
  .layout {
    width: 50%;
    padding-right: 16px;
    border-right: 1px solid silver;
  }
}

.inputRow{
  display: flex;
  flex-direction: column;
}
.inputRowLabel{
  padding: 8px 0;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.inputRowLabel span{
  width: 8px;
  height: 8px;
  margin-right: 4px;
  display: inline-block;
  background-color: tomato;
  border-radius: 50%;
}

.inputRow > input, .inputRadio {
  padding: 4px;
  font-size: 1rem;
  outline: none;
}

.inputRow > input:focus{
  border: 2px solid rgb(33, 142, 213);
}

.inputRadio{
  display: flex;
  flex-flow: row wrap;
}
.inputRadio label{
  padding: 0 4px;
}
.inputRadio input{
  margin: 0 4px;
}