.container {
  padding: 0.25rem 0;
}
.title {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
}
.btnGroup {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btnGroup label {
  border-radius: 50%;
  cursor: pointer;
}
.radioLabel input[type="radio"] {
  padding: 1rem;
  display: none;
}

.btnGroup label:first-child,
.btnGroup label:last-child {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid blueviolet;
}

.btnGroup label:nth-child(2),
.btnGroup label:nth-child(4) {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid blueviolet;
}

.btnGroup label:nth-child(3) {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid blueviolet;
}
