.container {
  padding: 1rem;
}
.title {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid silver;
}

.btnGroup {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btnGroup label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid blueviolet;
  border-radius: 50%;
  font-size: 1.25rem;
  cursor: pointer;
}
.radioLabel input[type="radio"] {
  padding: 1rem;
  display: none;
}
.radioLabel:has(input[type="radio"]:checked) {
  background-color: blueviolet;
  color: #fff;
}
.radioLabel:hover {
  background-color: rgb(197, 150, 241);
  color: #fff;
}

.btnGroup label:first-child,
.btnGroup label:last-child {
  height: 48px;
  width: 48px;
}

.btnGroup label:nth-child(2),
.btnGroup label:nth-child(4) {
  height: 36px;
  width: 36px;
}

.btnGroup label:nth-child(3) {
  height: 30px;
  width: 30px;
}
